$border: 4px solid #000;

$colors: (
  slide: rgb(255, 158, 79), 
);

@each $button, $color in $colors {
  .#{$button} {
    --color: #{$color};
    --hover: #{adjust-hue($color, 45deg)};
  }
}



div.bg01{
    position: fixed;
    top: 680px;
    right: 50px;
    z-index: -1;
}

div.bg02{
    position: fixed;
    top: 250px;
    left: 150px;
    z-index: -1;
}

article.container{
    width: 60vw;
    // height: 500px;
    height: auto;
    background-color: #fff;
    border: $border;
    margin: 0px auto;
    position: relative;
    div.category{
        display: flex;
        position: absolute;
        top: -58px;
        left: 0;
        width: 100.4%;
      
        div{
            width: 40%;
            height: 50px;
            border: $border;
            margin-left: -4px;
            font-size: 21px;
            font-weight: bolder;
            display: flex;
            justify-content: center;
            align-items: center;  
            background-color: #fff;
        }
        div.selected {
            background-color: #afd3ff;
        }
    }
    div.sidebar{
        position: sticky;
        margin-left:100%;
        top: 150px;
        margin-top: -20px;
        button.slide {  
            width: 140px;
            height: 70px;
            transition: 420ms;
            background-color: #ffc83b;
            border: $border;
            font-weight: bolder;
            font-size: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
            &:hover,
            &:focus { 
                //border-color: var(--hover);
                color: #000000;
            }
        }
        .slide:hover,
        .slide:focus {
            box-shadow: inset 6.7em 0 0 0 var(--hover);
        }
        .sidebarI{
            width: 100px;
            height: 80px;
            border: $border;
            background-color: #FFAFAF;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}


div.categoryV{
    div{
        display: none;
    }
    div.display{
        display: block;
    }
}

