.studio {
    width: calc(100% - 300px);
    margin: 0 auto;


    .logo {
        display: flex;
        max-width: 444px;
        min-width: 360px;
        height: 60px;
        // border: 3px solid;
        align-items: center;
        margin: 30px auto 0;
        justify-content: space-between;
        gap: 30px;

        p {
            border: 3px solid;
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 41px;
            font-weight: bold;
        }
    }

    .recommendStudio {
        margin-bottom: 21px;

        .recommendStudioLogo {
            display: flex;
            gap: 10px;
            align-items: center;
            margin-bottom: 20px;

            p {
                font-size: 24px;
                font-weight: bold;
            }
        }

        .cont {
            padding: 0;
            min-width: 360px;

            .SwiperSlide {
                width: 360px;

                .imgBox {
                    width: 334px;
                    height: 228px;

                    &.action {
                        background-color: black;
                        transition: 0s;
                    }

                    .imsTest {
                        border: 5px solid #FFBCBC;

                        &.action {
                            opacity: 0.4;
                        }
                    }



                    .imgCont {
                        width: 334px;
                        height: 228px;
                        display: block;
                        position: absolute;
                        z-index: 999;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        // padding-top: 77px;

                        &.action {
                            display: none;
                        }

                        p {
                            font-size: 30px;
                            color: #FFBCBC;
                            font-weight: bold;
                            margin-bottom: 13px;
                            padding-top: 5px;
                        }

                        a {
                            background-color: #FFBCBC;
                            color: #000;
                            width: 250px;
                            height: 60px;
                            text-align: center;
                            font-size: 24px;
                            font-weight: bold;
                            padding-top: 13px;
                        }

                        .contBtn {
                            width: 100%;
                            display: flex;
                            padding-right: 21px;
                            padding-top: 20px;
                            justify-content: flex-end;

                            button {
                                background-color: transparent;
                                border: 0;

                                img {}
                            }
                        }
                    }
                }

                .info {
                    border: 3px solid pink;
                    width: 334px;
                    height: 90px;
                }
            }


        }

    }

    .videoPlayer {
        .videoPlayerLogo {
            display: flex;
            gap: 10px;
            align-items: center;
            margin-bottom: 20px;

            p {
                font-size: 24px;
                font-weight: bold;
            }
        }


        .player {
            display: flex;
            gap: 60px;
            align-items: center;
            justify-content: space-between;
            overflow: hidden;
        }


    }
}